@model EquipmentTracking.Models.EquipmentClassification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EquipmentClassification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "EquipmentClassification", new { id = Model.ID })" class="btn btn-default">
        Edit
    </a>
    |
    @Html.ActionLink("Back to List", "Index")
</p>
