﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-scissors" aria-hidden="true"></span>
    </h1>

    <p class="lead">
        The equipment tracking application is an essential management tool for the common equipment/tools that can be borrowed by
        employees from other divisions for executions fo their duities in the refinery.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Equipment Classifications</h2>
        <p>
            Under the classifications page a user can add classfications for tools that will be managed by the application.
            For example grinders, drills can be classified as Power tools, tools like Hammers, Pliers can be classified as Hand tools.
            Click the button below to start.
        </p>
        <p><a class="btn btn-default" href="#">Classifications &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Equipment</h2>
        <p>
            Under the following option a user can add new tools to the division that will be avialable for borrowing to other
            employees in different divisions. basic information that can be used to track the tool will be required.
        </p>
        <p><a class="btn btn-default" href="#">Equipment &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Equipment Movement Log</h2>
        <p>Under the following tab you will be able to book in/out equipment that is avialable within the division to employees.</p>
        <p><a class="btn btn-default" href="#">Movement Log &raquo;</a></p>
    </div>
</div>